:root {
    --header-background-color: #ffffff;
    --hero-background-color: #2f303a;
    --second-background-color: #ffffff;
    --main-text-color: #757575;
    --accent-color: #2196f3;
    --main-head-color: #212121;
    --light-grey: #AFB1B8;
}
